<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <!--　HTMLのコメント(ブラウザに表示される) -->
    <!--/* Thymeleafのコメント(ブラウザに表示されない) */-->

    <p th:text="${message}">
        message の内容が出力される
    </p>

    <div th:style="${style}">
        スタイルシートが適用される
    </div>

    <th:block th:each="name, stat : ${list}">
        <th:block th:text="|${name}さんは${stat.count}番目です。|"></th:block><br>
    </th:block>


    <div th:if="${#strings.equals(message, 'message')}">
        #strings 表示されない
    </div>

    <div th:if="${#lists.size(list) gt 0}">
        #lists 表示される
    </div>

    <div th:text="${T(java.lang.String).format('%03d', 1)}">
        前ゼロ３桁が表示される
    </div>

</body>
</html>